decorator==4.4.0
Flask==1.0.2
Flask-JWT-Extended==3.24.1
Flask-Login==0.4.1
Flask-Script==2.0.6
Flask-SQLAlchemy==2.3.2
notebook==6.0.0
numpy==1.16.4
numpydoc==0.9.1
path.py==12.0.1
pathlib2==2.3.4
patsy==0.5.1
pep8==1.7.1
pexpect==4.7.0
pickleshare==0.7.5
prometheus-client==0.7.1
psutil==5.6.3
psycopg2==2.8.4
ptyprocess==0.6.0
py==1.8.0
pycodestyle==2.5.0
PyJWT==1.7.1
pyodbc==4.0.26
pytest==3.10.1
pytest-cache==1.0
pytest-cov==2.8.1
pytest-doctestplus==0.3.0
pytest-openfiles==0.3.2
pytest-pep8==1.0.6
PyYAML==5.1.1
requests==2.21.0
requests-toolbelt==0.9.1
ruamel-yaml==0.15.46
SQLAlchemy==1.3.2
